<nav id="nav-area" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">VisMap</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Map
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Save Map JSON</a></li>
            <li><a>Save as SVG</a></li>
            <li><a>Save as PNG</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Model
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Load COBRA Model</a></li>
            <li><a>Render Model</a></li>
            <li><a>Clear Model</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">View
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Zoom In</a></li>
            <li><a>Zoom Out</a></li>
            <li><a>Enable Mouse Zoom</a></li>
            <li><a>Disable Hover Tip</a></li>
          </ul>
        </li>
        <li><a href="#">Document</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>

<div id="content-area" class="container-fluid">
  <div class="row">
    <!-- <div class="col-xs-12 col-sm-9"> -->
    <div class="col-md-9 col-md-offset-1">
      <div id="d3flux001"></div>
    </div>

    <!-- <div id="d3flux001_options" class="col-xs-6 col-sm-3 sidebar-offcanvas"> -->
    <div id="vismap-sidebar" class="col-md-2 sidebar">

      <div class="btn-group-vertical" role="group" aria-label="btn-group-vertical">
        <h4>Search</h4>
        <input type="text" class="form-control" id="search" placeholder="Name or id" type="text" value="">
        <button type="button" class="test_button btn btn-primary ">Search Node</button>

        <h4>Traverse</h4>
        <input type="text" class="form-control" id="info" placeholder="Node info" type="text" value="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Reversibility
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Enable Animation
          </label>
        </div>
        <button type="button" id="btn_downstream" class="btn btn-primary ">Downstream Nodes</button>

        <h4>Custom</h4>
        <button type="button" id="btn_reactopm" class="btn btn-success">Show Reaction Nodes</button>
        <button type="button" id="btn_path-color" class="btn btn-danger">Disable Path Color</button>
        <!-- <button type="button" class="marker_button btn btn-warning ">Select Marker</button> -->
        <button type="button" id="btn_reset" class="btn btn-warning ">Reset</button>
        <button id="zoom_in" type="button" class="zoom_button btn">Zoom in</button>
        <button id="zoom_out" type="button" class="zoom_button btn  ">Zoom out</button>
        <!-- <button type="button" class="test_button btn btn-test ">Alg Test</button> -->
        <div class="checkbox">
          <label>
            <input id="cb-zoom" type="checkbox" value="">
            Enable mouse zoom
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="cb-tip" type="checkbox" value="">
            Disable hover tip
          </label>
        </div>


      </div>
    </div>
    <!--/.sidebar-offcanvas-->
  </div> <!-- row -->
</div> <!-- contianer-fluid -->

<script type="text/Javascript">
{{ javascript_source }}
</script>