<div class="navbar navbar-static-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <i class="fa fa-comments-o"></i>
      VisMap
    </a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="/">Document</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-xs-12 col-sm-9"> -->
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <div id="d3flux001"></div>
    </div>

    <!-- <div id="d3flux001_options" class="col-xs-6 col-sm-3 sidebar-offcanvas"> -->
    <div id="d3flux001_options" class="col-md-2 sidebar">

      <div class="btn-group-vertical" role="group" aria-label="btn-group-vertical">
        <h4>Output</h4>
        <button type="button" class="download btn btn-primary ">Save JSON</button>
        <button type="button" class="svgbutton btn btn-info ">Download SVG</button>

        <h4>Traverse</h4>
        <input type="text" class="form-control" id="info" placeholder="Node info" type="text" value="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Reversibility
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Enable Animation
          </label>
        </div>
        <button type="button" class="animate_button btn btn-warning ">Downstream Nodes</button>

        <h4>Search</h4>
        <input type="text" class="form-control" id="search" placeholder="Name or id" type="text" value="">
        <button type="button" class="test_button btn btn-danger ">Search Node</button>

        <h4>Custom</h4>
        <button type="button" class="reactionbutton btn btn-success ">Show Reaction Nodes</button>

        <button type="button" class="path_button btn btn-warning ">Path Color</button>
        <!-- <button type="button" class="marker_button btn btn-warning ">Select Marker</button> -->
        <button type="button" class="reset_button btn btn-warning ">Reset</button>
        <button id="zoom_in" type="button" class="zoom_button btn">Zoom in</button>
        <button id="zoom_out" type="button" class="zoom_button btn  ">Zoom out</button>
        <!-- <button type="button" class="test_button btn btn-test ">Alg Test</button> -->
        <div class="checkbox">
          <label>
            <input id="cb-zoom" type="checkbox" value="">
            Enable mouse zoom
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="cb-tip" type="checkbox" value="">
            Disable hover tip
          </label>
        </div>


      </div>
    </div>
    <!--/.sidebar-offcanvas-->
  </div> <!-- row -->
</div> <!-- contianer-fluid -->

<!-- <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
          <li class="list-group-item active">External Links</li>
          <a href="http://bigg.ucsd.edu/" target="_blank" class="list-group-item">BiGG</a>
          <a href="https://opencobra.github.io/" target="_blank" class="list-group-item">Open Cobra</a>
          <a href="https://d3js.org/" target="_blank" class="list-group-item">D3.js</a>
          <a href="#" class="list-group-item">...</a>
          <a href="#" class="list-group-item">...</a>
          <a href="#" class="list-group-item">...</a>
          <a href="#" class="list-group-item">...</a>
          <a href="#" class="list-group-item">...</a>
          <a href="https://getbootstrap.com/" target="_blank" class="list-group-item">Bootstrap</a>
        </div>
      </div> -->
<!--.sidebar-offcanvas-->

<script type="text/Javascript">
{{ javascript_source }}
</script>